* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.start-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #FFFF;
}

.start-zone .game-name {
  width: 500px;
  height: 100px;
  text-align: center;
  color: #b490ca;
}

.start-zone .introduce-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 300px;
}

.start-zone .introduce-game div {
  width: 100%;
  height: 20px;
  text-align: center;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 18px;
  color:#b490ca;
}

.start-zone .introduce-game img {
  width: 300px;
  height: 300px;
  margin: 20px;
}

.start-zone .start-button {
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 25px;
  box-shadow: 2px 2px 4px #2c2c2c7a;
  font-size: 16px;
  color: rgb(34, 34, 34);
  cursor: pointer;
}

.play-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.play-zone .progress-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 50px;
}

.play-zone .progress-bar div {
  width: 250px;
  text-align: center;
}

.play-zone .cards-container {
  display: flex;
  flex-direction: column;
}
.play-zone .cards-container .cards-row {
  display: flex;
}

.play-zone .cards-container .cards-row .cards {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid #b490ca;
  cursor: pointer;
}

.play-zone .cards-container .cards-row .cards .front {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 0;
}

.play-zone .cards-container .cards-row .cards .back {
  width: 100px;
  height: 100px;
  z-index: -1;
}

.restart-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width:100vw;
  height: 100vh;
  background-color: #b490ca;
}

.restart-zone .game-result {
  width: 500px;
  height: 50px;
  text-align: center;
  color:#FFFF;
  font-size: 20px;
}

.restart-zone .result-message {
  width: 300px;
  height: 300px;
  text-align: center;
}

.restart-zone .result-message img{
  width: 100%;
  height: 100%;
  text-align: center;
}

.restart-zone .restart-button {
  width: 150px;
  height: 45px;
  margin: 20px;
  border: none;
  border-radius: 25px;
  box-shadow: 2px 2px 4px #0000007a;
  font-size: 16px;
  color: rgb(34, 34, 34);
  cursor: pointer;
}

.hide {
  display: none;
}
